asgiref==3.7.2
crispy-bootstrap5==0.7
Django==4.2.2
django-bootstrap-datepicker-plus==5.0.3
django-crispy-forms==2.0
django-environ==0.10.0
django-shopping-cart==0.1
django-toast-messages==0.1
environ==1.0
Pillow==9.5.0
psycopg2-binary==2.9.6
pydantic==1.10.9
sqlparse==0.4.4
typing_extensions==4.6.3
